:root {
  --mainBlue: #57568f;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}

body {
  font-family: "ZCOOL XiaoWei", serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}
.text-title {
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue {
  color: var(--mainblue);
}
.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8 !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem var(--mainDark) solid !important;
}

.btn-black:hover {
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}
.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}
